/* -------------------- SIDEBAR -------------------- */
.sidebar {
    position: fixed;
    height: 100%;
    width: 220px;
    top: 0;
    left: 0;
    background: #005386;
    z-index: 1000;
    transition: all 0.5s ease;
}

.sidebar.active {
    width: 60px;
}

.sidebar .logo-details {
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 60px;
    width: 100%;
}

.sidebar .logo-details .image {
    text-align: center;
    min-width: 50px;
    padding: 5px;
}

.sidebar .image {
    display: flex;
    align-items: center;
}
  
.image img{
    height: auto;
    width: 50px;
    transform: scale(2.2); /* aumenta a logo */
  }

.sidebar .logo-details .admin {
    opacity: 1;
    font-size: 16px;
    font-weight: 500;
    color: #E4F8FF;
    margin-left: 8px;
}

.sidebar .nav-links {
    margin-top: 40px;
    height: calc(100% - 160px);
}

.sidebar .nav-links li {
    height: 50px;
    width: 100%;
    list-style: none;
}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a:hover {
    background: #0099FF;
}

.sidebar .nav-links li a i {
    min-width: 60px;
    text-align: center;
    color: #E4F8FF;
    font-size: 18px;
}

.sidebar .nav-links li a .nav-text {
    opacity: 1;
    color: #E4F8FF;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar .nav-links li a .nav-text :hover {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
}

.sidebar.active ~ .home {
    width: calc(100% - 60px);
    left: 60px;
}

.sidebar.active .nav-links li a .nav-text {
    opacity: 0;
    pointer-events: none;
}

.sidebar .logout {
    background: #005386;
    color: #E4F8FF;
}

.sidebar .logout li {
    height: 50px;
    width: 100%;
    list-style: none;
}

.sidebar .logout li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .logout li a i {
    min-width: 60px;
    text-align: center;
    color: #E4F8FF;
    font-size: 18px;
}

.sidebar .logout li a .nav-text {
    opacity: 1;
    color: #E4F8FF;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
}

.sidebar.active ~ .home {
    width: calc(100% - 60px);
    left: 60px;
}

.sidebar.active .logout li a .nav-text {
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .logo-details .admin {
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 992px){

    .sidebar{
        width:60px;
    }

    .sidebar .admin,
    .sidebar .nav-text{
        display:none;
    }

}